<div class="wrapper">
  <!-- Sidebar -->
  <aside id="sidebar">
    <div class="">
      <div class="sidebar-logo">
        <img src="assets/images/TERRAZA.png" alt="Logo" class="logo-image" />
        <a href="#" class="logo-text">Mi Terraza</a>
      </div>
      <!-- Sidebar Navigation -->
      <ul class="sidebar-nav">
        <li class="sidebar-item" [ngClass]="{'active': isActive('/usuario')}">
          <a [routerLink]="['/usuario']" class="sidebar-link">
            <i class="bi bi-person-fill-add pe-2"></i>
            Usuarios
          </a>
        </li>
        <li class="sidebar-item" [ngClass]="{'active': isActive('/pago')}">
          <a [routerLink]="['/pago']" class="sidebar-link">
            <i class="bi bi-wallet2 pe-2"></i>
            Pagos
          </a>
        </li>
        <li class="sidebar-item" [ngClass]="{'active': isActive('/bodega')}">
          <a [routerLink]="['/bodega']" class="sidebar-link">
            <i class="bi bi-box-seam-fill pe-2"></i>
            Bodega
          </a>
        </li>
        <li class="sidebar-item" [ngClass]="{'active': isActive('/proprov')}">
          <a [routerLink]="['/proprov']" class="sidebar-link">
            <i class="bi bi-balloon-heart pe-2"></i>
            Proveedor
          </a>
        </li>
        <li class="sidebar-item" [ngClass]="{'active': isActive('/pedido')}">
          <a [routerLink]="['/pedido']" class="sidebar-link">
            <i class="bi bi-emoji-smile pe-2"></i>
            Pedido
          </a>
        </li>
        <li class="sidebar-item" [ngClass]="{'active': isActive('/prodventa')}">
          <a [routerLink]="['/prodventa']" class="sidebar-link">
            <i class="bi bi-box-seam-fill pe-2"></i>
            Producto
          </a>
        </li>
        <!-- <li class="sidebar-header">
          Multi Level Nav
        </li>
        <li class="sidebar-item">
          <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#multi"
            aria-expanded="false" aria-controls="multi">
            <i class="fa-solid fa-share-nodes pe-2"></i>
            Multi Level
          </a>
          <ul id="multi" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
            <li class="sidebar-item">
              <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#multi-two"
                aria-expanded="false" aria-controls="multi-two">
                Two Links
              </a>
              <ul id="multi-two" class="sidebar-dropdown list-unstyled collapse">
                <li class="sidebar-item">
                  <a href="#" class="sidebar-link">Link 1</a>
                </li>
                <li class="sidebar-item">
                  <a href="#" class="sidebar-link">Link 2</a>
                </li>
              </ul>
            </li>
          </ul>
        </li> -->
      </ul>
    </div>
  </aside>
  <!-- Main Component -->
  <div class="main">
    <!-- Content here -->
  </div>
</div>
