<div class="wrapper" [ngClass]="{'collapsed': isSidebarCollapsed}">
  <!-- Sidebar -->
  <aside id="sidebar" class="sidebar">
    <div class="">
      <div class="collapsed-icon" (click)="toggleSidebar()" [class.icon-left]="isSidebarCollapsed">
        <i class="fa-solid" [ngClass]="isSidebarCollapsed ? 'fa-caret-right' : 'fa-caret-left'"></i>
      </div>
      <!-- Sidebar Navigation -->
      <ul class="sidebar-nav mt-4">
        <li class="sidebar-item mt-2" [ngClass]="{'active': isActive('/usuario')}" *ngIf="!isWorkerRole()">
          <a [routerLink]="['/usuario']" class="sidebar-link">
            <i class="fa-solid fa-user-group pe-2"></i>
            <span *ngIf="!isSidebarCollapsed">Usuarios</span>
          </a>
        </li>
        <li class="sidebar-item" [ngClass]="{'active': isActive('/pago')}" *ngIf="!isWorkerRole()">
          <a [routerLink]="['/pago']" class="sidebar-link">
            <i class="fa-solid fa-money-bill-wave pe-2"></i>
            <span *ngIf="!isSidebarCollapsed">Pagos</span>
          </a>
        </li>
        <li class="sidebar-item" [ngClass]="{'active': isActive('/bodega')}">
          <a [routerLink]="['/bodega']" class="sidebar-link">
            <i class="fa-solid fa-box-open pe-2"></i>
            <span *ngIf="!isSidebarCollapsed">Bodega</span>
          </a>
        </li>
        <li class="sidebar-item" [ngClass]="{'active': isActive('/proprov')}">
          <a [routerLink]="['/proprov']" class="sidebar-link" >
            <i class="fa-solid fa-basket-shopping pe-2"></i>
            <span *ngIf="!isSidebarCollapsed">Poducto prov</span>
          </a>
        </li>
        <li class="sidebar-item" [ngClass]="{'active': isActive('/pedido')}">
          <a [routerLink]="['/pedido']" class="sidebar-link">
            <i class="fa-solid fa-clipboard-list pe-2"></i>
            <span *ngIf="!isSidebarCollapsed">Pedido</span>
          </a>
        </li>
        <li class="sidebar-item" [ngClass]="{'active': isActive('/prodventa')}">
          <a [routerLink]="['/prodventa']" class="sidebar-link">
            <i class="fa-solid fa-pizza-slice pe-2 "></i>
            <span *ngIf="!isSidebarCollapsed">Producto venta </span>
          </a>
        </li>
        <li class="sidebar-item" [ngClass]="{'active': isActive('/proveedor')}">
          <a [routerLink]="['/proveedor']" class="sidebar-link">
            <i class="fa-solid fa-boxes-packing pe-2"></i>
            <span *ngIf="!isSidebarCollapsed">Proveedor</span>
          </a>
        </li>
        <li class="sidebar-item" [ngClass]="{'active': isActive('/factura')}">
          <a [routerLink]="['/factura']" class="sidebar-link">
            <i class="fa-solid fa-boxes-packing pe-2"></i>
             <span *ngIf="!isSidebarCollapsed">Factura</span>
          </a>
        </li>
        <!-- <li class="sidebar-header">
          Multi Level Nav
        </li>
        <li class="sidebar-item">
          <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#multi"
            aria-expanded="false" aria-controls="multi">
            <i class="fa-solid fa-share-nodes pe-2"></i>
            Multi Level
          </a>
          <ul id="multi" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
            <li class="sidebar-item">
              <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#multi-two"
                aria-expanded="false" aria-controls="multi-two">
                Two Links
              </a>
              <ul id="multi-two" class="sidebar-dropdown list-unstyled collapse">
                <li class="sidebar-item">
                  <a href="#" class="sidebar-link">Link 1</a>
                </li>
                <li class="sidebar-item">
                  <a href="#" class="sidebar-link">Link 2</a>
                </li>
              </ul>
            </li>
          </ul>
        </li> -->
      </ul>
    </div>
  </aside>
  <!-- Main Component -->
  <div class="main">
    <!-- Content here -->
  </div>
</div>
