<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
<nav class="nav bd-highlight">
  <div class="flex-grow-1 bd-highlight p-2 ms-2">
    <i class="bi bi-person-workspace t-icon"></i>
    <span>
      <span class="m-text"> {{ getNombreUsuario() }} </span> <span class="m-text">{{ getApellidoUsuario() }}</span> / <span class="m-text" style="font-weight: bold;">{{ role }}</span>
    </span>
  </div>
  <div class="aling-items-end p-2 me-3">
    <div class="dropdown">
      <img [src]="imangenPerfil" alt="Logo" class="logo-image" style="width: 40px; height:40px; border-radius: 50%; cursor: pointer" data-bs-toggle="dropdown" aria-expanded="false" (error)="imagenPorDefecto($event)"/>
      <span class="status-indicator"></span>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" [routerLink]="['/home']">Ir a Mi terraza <i class="fa-solid fa-utensils ms-1"></i></a></li>
        <li><a class="dropdown-item" [routerLink]="['/profile']">Mi perfil  <i class="fa-regular fa-address-card ms-1"></i></a></li>
        <li><a class="dropdown-item" href="#">Notificaciones  <i class="fa-solid fa-bell ms-1"></i></a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item d-flex justify-content-end" (click)="logOut()">Salir  <i class="bi bi-door-open-fill m-icon"></i></a></li>
      </ul>
    </div>
  </div>
</nav>