i {
    font-size: 1.25rem;
}

a {
    cursor: pointer;
}

.t-icon {
    font-size: 1.30rem;
}

.m-icon {
    margin-top: -0.2rem;
}

.m-text {
    text-transform: uppercase;
}

.profile-container {
    position: relative;
    display: inline-block;
}

.status-indicator {
    position: absolute;
    bottom: 0;
    left: 28px;
    width: 10px;
    height: 10px;
    background-color: green;
    border: 2px solid white;
    border-radius: 50%;
}