<div class="container-fluid">
  <div class='box'>
    <div class='wave -one'></div>
    <div class='wave -two'></div>
    <div class='wave -three'></div>
  </div>

  <div class="container min-vh-100 d-flex align-items-center justify-content-center">
    <div class="login-box p-4 shadow">
      <h2 class="mb-4 text-center text-light font-title">
        <a [routerLink]="['/login']" class="text-decoration-none text-light me-1">
          <i class="fa-solid fa-chevron-left"></i>
        </a>¡Únete a la Experiencia!
      </h2>
      <p class="text-center mb-3 fw-t text-light font-title">¡Regístrate ahora y accede a ofertas exclusivas solo para
        ti! No te pierdas estas oportunidades especiales.</p>

      <div class="d-flex align-items-center justify-content-center my-3">
        <hr class="flex-grow-1 me-2 text-light" />
        <span class="text-light font-title">●</span>
        <hr class="flex-grow-1 ms-2 text-light" />
      </div>

      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group mb-3 font-title">
          <label for="email" class="text-light">Nombres</label>
          <div class="d-flex align-items-start flex-column input-container position-relative">
            <input formControlName="RGU_NOMBRES" type="text" id="RGU_NOMBRES" name="RGU_NOMBRES"
              aria-describedby="emailHelp" class="form-control p-ci" placeholder="Ingresa tus nombres completos"
              autocomplete="off">
            <div
              *ngIf="registerForm.get('RGU_NOMBRES')?.hasError('required') && registerForm.get('RGU_NOMBRES')?.touched"
              class="text-danger property-danger-c error-message-container">
              Este campo es obligatorio y debe contener mas de 2 caracteres.
            </div>
          </div>
        </div>

        <div class="form-group mb-3 font-title">
          <label for="email" class="text-light">Apellidos</label>
          <div class="d-flex align-items-start flex-column input-container position-relative">
            <input formControlName="RGU_APELLIDOS" type="text" id="RGU_APELLIDOS" name="RGU_APELLIDOS"
              aria-describedby="emailHelp" class="form-control p-ci" placeholder="Ingresa tus apellidos completos"
              autocomplete="off">
            <div
              *ngIf="registerForm.get('RGU_APELLIDOS')?.hasError('required') && registerForm.get('RGU_APELLIDOS')?.touched"
              class="text-danger property-danger-c error-message-container">
              Este campo es obligatorio y debe contener mas de 2 caracteres.
            </div>
          </div>
        </div>

        <div class="form-group mb-3 font-title">
          <label for="genero" class="text-light">Genero</label>
          <div class="d-flex align-items-start flex-column input-container position-relative">
            <select formControlName="RGU_GENERO" type="select" id="RGU_GENERO" name="RGU_GENERO"
              aria-describedby="emailHelp" class="form-control p-ci" placeholder="Ingresa tu genero" autocomplete="off">
              <option value="">Selecciona tu género</option>
              <option value="Masculino">Masculino</option>
              <option value="Femenino">Femenino</option>
              <option value="No_binario">No Binario</option>
            </select>
            <div *ngIf="registerForm.get('RGU_GENERO')?.hasError('required') && registerForm.get('RGU_GENERO')?.touched"
              class="text-danger property-danger-c error-message-container">
              Este campo es obligatorio.
            </div>
          </div>
        </div>

        <div class="form-group mb-3 font-title">
          <label for="direccion" class="text-light">Dirección</label>
          <div class="d-flex align-items-start flex-column input-container position-relative">
            <input formControlName="RGU_DIRECCION" type="text" id="RGU_DIRECCION" name="RGU_DIRECCION"
              aria-describedby="emailHelp" class="form-control p-ci" placeholder="Ingresa tu dirección"
              autocomplete="off">
            <div
              *ngIf="registerForm.get('RGU_DIRECCION')?.hasError('required') && registerForm.get('RGU_DIRECCION')?.touched"
              class="text-danger property-danger-c error-message-container">
              Este campo es obligatorio.
            </div>
          </div>
        </div>

        <div class="form-group mb-3 font-title">
          <label for="telefono" class="text-light">Teléfono</label>
          <div class="d-flex align-items-start flex-column input-container position-relative">
            <input formControlName="RGU_TELEFONO" type="text" id="RGU_TELEFONO" name="RGU_TELEFONO"
              aria-describedby="emailHelp" class="form-control p-ci" placeholder="Ingresa tu teléfono"
              autocomplete="off" (keypress)="validateNumberInput($event)">
            <div
              *ngIf="registerForm.get('RGU_TELEFONO')?.hasError('required') && registerForm.get('RGU_TELEFONO')?.touched"
              class="text-danger property-danger-c error-message-container">
              El teléfono debe tener 10 dígitos.
            </div>
          </div>
        </div>

        <div class="form-group mb-3 font-title">
          <label for="identificación" class="text-light">Tipo de identificación</label>
          <div class="d-flex align-items-start flex-column input-container position-relative">
            <select formControlName="RGU_TP_DOC" type="select" id="RGU_TP_DOC" name="RGU_TP_DOC"
              aria-describedby="emailHelp" class="form-control p-ci" placeholder="Ingresa tu tipo de indentificación" autocomplete="off">
              <option value="">Selecciona tipo identificación</option>
              <option value="Cedula">Cédula nacional</option>
              <option value="Tarjeta_Identidad">Tarjeta de identidad</option>
              <option value="ce">Cédula extranjera</option>
            </select>
            <div *ngIf="registerForm.get('RGU_TP_DOC')?.hasError('required') && registerForm.get('RGU_TP_DOC')?.touched"
              class="text-danger property-danger-c error-message-container">
              Este campo es obligatorio.
            </div>
          </div>
        </div>

        <div class="form-group mb-3 font-title">
          <label for="identificación" class="text-light">Nro. Identificación</label>
          <div class="d-flex align-items-start flex-column input-container position-relative">
            <input formControlName="RGU_IDENTIFICACION" type="text" id="RGU_IDENTIFICACION" name="RGU_IDENTIFICACION"
              aria-describedby="emailHelp" class="form-control p-ci" placeholder="Ingresa nro. identificación"
              autocomplete="off" (keypress)="validateNumberInput($event)">
            <div
              *ngIf="registerForm.get('RGU_IDENTIFICACION')?.hasError('required') && registerForm.get('RGU_IDENTIFICACION')?.touched"
              class="text-danger property-danger-c error-message-container">
              La identificación debe tener entre 8 y 10 dígitos.
            </div>
          </div>
        </div>

        <div class="form-group mb-3 font-title">
          <label for="email" class="text-light">Correo</label>
          <div class="d-flex align-items-start flex-column input-container position-relative">
            <input formControlName="RGU_CORREO" type="text" id="RGU_CORREO" name="RGU_CORREO"
              aria-describedby="emailHelp" class="form-control p-ci" placeholder="Ejemplo: tuemail@gmail.com"
              autocomplete="off">
            <div *ngIf="registerForm.get('RGU_CORREO')?.invalid && registerForm.get('RGU_CORREO')?.touched"
              class="text-danger property-danger-c error-message-container">
              <div *ngIf="registerForm.get('RGU_CORREO')?.errors?.['invalidEmail']">
                Correo inválido, debe contener un dominio valido &#64; y .com
              </div>
            </div>
          </div>
        </div>

        <div class="form-group mb-3 font-title">
          <label for="email" class="text-light">Contraseña</label>
          <div class="d-flex align-items-start flex-column input-container position-relative">
            <i class="fa-solid p-iconpshow position-absolute"
              [ngClass]="{'icon-error': registerForm.get('RGU_PASSWORD')?.invalid && registerForm.get('RGU_PASSWORD')?.touched}"
              [class]="cmbTipo === 'password' ? 'fa-solid fa-eye-slash' : 'fa-solid fa-eye'"
              (click)="verContrasena('cmbTipo')"></i>
            <input formControlName="RGU_PASSWORD" [type]="cmbTipo" id="RGU_PASSWORD" name="RGU_PASSWORD"
              aria-describedby="emailHelp" class="form-control p-ci" placeholder="Ingresa tu contraseña"
              autocomplete="off">
            <div
              *ngIf="registerForm.get('RGU_PASSWORD')?.hasError('minlength') && registerForm.get('RGU_PASSWORD')?.touched"
              class="text-danger error-message-container property-danger-p">
              La contraseña debe tener como minimo 8 caracteres.
            </div>
            <!-- <div *ngIf="registerForm.get('RGU_PASSWORD')?.hasError('maxlength') && registerForm.get('RGU_PASSWORD')?.touched"
                class="text-danger error-message-container property-danger-p">
                La contraseña debe tener un máximo de 8 caracteres.
            </div> -->
            <div
              *ngIf="registerForm.get('RGU_PASSWORD')?.hasError('specialchar') && registerForm.get('RGU_PASSWORD')?.touched"
              class="text-danger error-message-container property-danger-p">
              La contraseña debe incluir un símbolo especial, (!&#64;#$%^&_*).
            </div>
            <div
              *ngIf="registerForm.get('RGU_PASSWORD')?.hasError('uppercase') && registerForm.get('RGU_PASSWORD')?.touched"
              class="text-danger error-message-container property-danger-p">
              La contraseña debe contener una letra mayúscula.
            </div>
            <div
              *ngIf="registerForm.get('RGU_PASSWORD')?.hasError('number') && registerForm.get('RGU_PASSWORD')?.touched"
              class="text-danger error-message-container property-danger-p">
              La contraseña debe contener al menos un número.
            </div>
          </div>
        </div>

        <div class="form-group mb-3 font-title">
          <label for="email" class="text-light">Confirmar contraseña</label>
          <div class="d-flex align-items-start flex-column input-container position-relative">
            <i class="fa-solid p-iconpshow position-absolute"
              [ngClass]="{'icon-error': registerForm.get('confirmPassword')?.invalid && registerForm.get('confirmPassword')?.touched}"
              [class]="cmbTipoC === 'password' ? 'fa-solid fa-eye-slash' : 'fa-solid fa-eye'"
              (click)="verContrasena('cmbTipoC')"></i>
            <input formControlName="confirmPassword" [type]="cmbTipoC" id="confirmPassword" name="confirmPassword"
              aria-describedby="emailHelp" class="form-control p-ci" placeholder="Confirma tu contraseña"
              autocomplete="off">
            <div
              *ngIf="registerForm.get('confirmPassword')?.hasError('mismatch') && registerForm.get('confirmPassword')?.touched"
              class="text-danger error-message-container property-danger-p">
              Las contraseñas no coinciden.
            </div>
          </div>
          <!-- <small id="email" class="form-text text-light font-title">Nunca compartiremos tu correo electronico
              con alguien mas.</small> -->
        </div>

        <div class="d-grid">
          <button class="btn btn-lg text-light fw-semibold d-flex align-items-center justify-content-center font-title"
            type="submit" [disabled]="
            registerForm.invalid || 
            registerForm.disabled">Registrarme Ahora</button>
        </div>
      </form>
    </div>
  </div>
</div>