<div class="container min-vh-100 d-flex align-items-center justify-content-center">
  <div class="row w-100 justify-content-center">
    <div class="col-lg-10 col-xl-8">
      <div class="card-group">
        <!-- Card de Login -->
        <div class="card p-4">
          <div class="card-body">
            <form>
              <h1 class="mb-3 typing-title">Mi terraza</h1>
              <p class="text-muted mb-4">Inicia sesion con tu cuenta</p>
              <!-- Campo de Usuario -->
              <div class="input-group mb-3">
                <span class="input-group-text">
                  <i class="bi bi-person-circle"></i> <!-- Bootstrap Icons -->
                </span>
                <input type="text" class="form-control" placeholder="Correo" aria-label="Correo" autocomplete="username">
              </div>
              <!-- Campo de Contraseña -->
              <div class="input-group mb-4">
                <span class="input-group-text">
                  <i class="bi bi-key-fill"></i> <!-- Bootstrap Icons -->
                </span>
                <input type="password" class="form-control" placeholder="Contraseña" aria-label="Correo" autocomplete="current-password">
              </div>
              <!-- Botones de Acciones -->
              <div class="row g-0">
                <div class="col-6 col-md-4">
                  <button class="btn btn-primary px-4" type="submit">Entrar</button>
                </div>
                <div class="col-sm-6  col-md-8 text-end">
                  <button class="btn btn-link px-0" type="button">Olvidaste tu contraseña?</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- Card de Sign up -->
        <div class="card text-white bg-primary py-5 d-md-down-none" style="min-width: 44%;">
          <div class="card-body text-center">
            <div>
              <h2>Registrate!</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <a href="/register" class="btn btn-light mt-3">Registrate Ahora!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
