.container-fluid {
    /* background-image: url('../../../assets/images/fondo-login.jpg') !important; Ruta de la imagen de fondo */
    background-size: cover; /* Ajusta la imagen al tamaño de la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}

h2 {
    font-size: 1.5rem;
    /* Reduce el tamaño del título */
}

p {
    font-size: 0.9rem;
    /* Reduce el tamaño del texto secundario */
}

.btn-lg {
    padding: 0.5rem 1rem;
    /* Ajusta el padding de los botones para que no sean tan grandes */
    font-size: 1rem;
    /* Ajusta el tamaño de la fuente en los botones */
}

.input-group .form-control {
    padding: 0.5rem;
    /* Reduce el padding dentro de los inputs */
    font-size: 1rem;
    /* Ajusta el tamaño de la fuente en los inputs */
}

.input-group-text {
    padding: 0.5rem;
    /* Ajusta el padding de los iconos en los inputs */
}

.container {
    max-width: 400px;
    /* Reduce el tamaño máximo */
    margin: 0 auto;
    /* Centra horizontalmente */
    padding: 2rem;
    /* Ajusta el padding para dar más espacio */
}

.login-box {
    background-color: rgba(255, 255, 255, 0.2); /* Fondo blanco semitransparente */
    border-radius: 10px;
    backdrop-filter: blur(10px); /* Aplica el desenfoque */
    -webkit-backdrop-filter: blur(10px); /* Para Safari */
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1); /* Sombra para resaltar */
}
