<div class="container-fluid background-pattern">
  <div class="container min-vh-100 d-flex align-items-center justify-content-center">
    <div class="login-box p-4 shadow">
      <h2 class="mb-4 text-center fw-normal">Registrate o incia sesión en segundos</h2>
      <p class="text-muted text-center mb-3 fw-t">Utiliza tu email o tu contraseña y correo para continuar en Mi Terraza</p>
      
      <div class="d-grid gap-3">
        <button class="btn btn-outline-dark btn-lg d-flex align-items-center justify-content-center">
          <i class="bi bi-google me-2"></i> Continue with Google
        </button>
        <!-- <button class="btn btn-outline-dark btn-lg d-flex align-items-center justify-content-center">
          <i class="bi bi-facebook me-2"></i> Continue with Facebook
        </button>
        <button class="btn btn-outline-dark btn-lg d-flex align-items-center justify-content-center">
          <i class="bi bi-envelope me-2"></i> Continue with Email
        </button> -->
      </div>
      
      <p class="text-center my-3">o</p>
      
      <form (ngSubmit)="login()">
        <div class="input-group mb-3">
          <span class="input-group-text">
            <i class="bi bi-person-circle"></i>
          </span>
          <input [(ngModel)]="email" type="text" id="email" name="email" class="form-control" placeholder="Correo" autocomplete="username">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">
            <i class="bi bi-key-fill"></i>
          </span>
          <input [(ngModel)]="password" type="password" id="password" name="password" class="form-control" placeholder="Contraseña" autocomplete="current-password">
        </div>
        <div class="d-grid">
          <button class="btn btn-outline-dark btn-lg d-flex align-items-center justify-content-center" type="submit">Entrar</button>
        </div>
      </form>
      <div class="text-center mt-3">
        <a href="#">¿Olvidaste tu contraseña?</a>
      </div>
    </div>
  </div>
</div>
