<div class="container-fluid">
    <div class='box'>
        <div class='wave -one'></div>
        <div class='wave -two'></div>
        <div class='wave -three'></div>
    </div>
    <div class="container min-vh-100 d-flex align-items-center justify-content-center">
        <div class="login-box p-4 shadow">
            <h2 class="mb-4 text-center text-light font-title">Cambia Tu Contraseña
            </h2>
            <p class="text-center mb-3 fw-t text-light font-title">Ingresa tu nueva contraseña a continuación:</p>
            <p class="text-center mb-3 fw-t text-light font-title">Asegúrate de que tu nueva contraseña sea única y contenga al menos 8 caracteres, incluyendo letras, números y símbolos.</p>

            <div class="d-flex align-items-center justify-content-center my-3">
                <hr class="flex-grow-1 me-2 text-light" />
                <span class="text-light font-title">●</span>
                <hr class="flex-grow-1 ms-2 text-light" />
            </div>

            <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
                <div class="form-group mb-3 font-title">
                    <label for="nuevaContrasena" class="text-light">Nueva contraseña</label>
                    <div class="d-flex align-items-start flex-column input-container position-relative">
                        <i class="fa-solid p-iconpshow position-absolute"
                        [ngClass]="{'icon-error': resetPasswordForm.get('nuevaContrasena')?.invalid && resetPasswordForm.get('nuevaContrasena')?.touched}"
                        [class]="cmbTipo === 'password' ? 'fa-solid fa-eye-slash' : 'fa-solid fa-eye'"
                        (click)="verContrasena('cmbTipo')"></i>
                        <input formControlName="nuevaContrasena" [type]="cmbTipo" id="nuevaContrasena" name="nuevaContrasena" aria-describedby="emailHelp"
                            class="form-control p-ci" placeholder="Ingresa tu contraseña.." autocomplete="off">
                        <div *ngIf="resetPasswordForm.get('nuevaContrasena')?.hasError('minlength') && resetPasswordForm.get('nuevaContrasena')?.touched"
                            class="text-danger error-message-container property-danger-p">
                            La contraseña debe tener como minimo 8 caracteres.
                        </div>
                        <!-- <div *ngIf="resetPasswordForm.get('nuevaContrasena')?.hasError('maxlength') && resetPasswordForm.get('nuevaContrasena')?.touched"
                            class="text-danger error-message-container property-danger-p">
                            La contraseña debe tener un máximo de 8 caracteres.
                        </div> -->
                        <div *ngIf="resetPasswordForm.get('nuevaContrasena')?.hasError('specialchar') && resetPasswordForm.get('nuevaContrasena')?.touched"
                            class="text-danger error-message-container property-danger-p">
                            La contraseña debe incluir un símbolo especial, (!&#64;#$%^&_*).
                        </div>
                        <div *ngIf="resetPasswordForm.get('nuevaContrasena')?.hasError('uppercase') && resetPasswordForm.get('nuevaContrasena')?.touched"
                            class="text-danger error-message-container property-danger-p">
                            La contraseña debe contener una letra mayúscula.
                            </div>
                            <div *ngIf="resetPasswordForm.get('nuevaContrasena')?.hasError('number') && resetPasswordForm.get('nuevaContrasena')?.touched"
                                class="text-danger error-message-container property-danger-p">
                            La contraseña debe contener al menos un número.
                            </div>
                        <i [ngClass]="{'icon-error': resetPasswordForm.get('nuevaContrasena')?.invalid && resetPasswordForm.get('nuevaContrasena')?.touched}" 
                            class="fa-solid fa-lock p-icon position-absolute"></i>
                    </div>
                </div>
                <div class="form-group mb-4 font-title">
                    <label for="matchContrasena" class="text-light">Confirmar contraseña</label>
                    <div class="d-flex align-items-start flex-column input-container position-relative">
                        <i class="fa-solid p-iconpshow position-absolute"
                        [ngClass]="{'icon-error': resetPasswordForm.get('matchContrasena')?.invalid && resetPasswordForm.get('matchContrasena')?.touched}"
                        [class]="cmbTipoC === 'password' ? 'fa-solid fa-eye-slash' : 'fa-solid fa-eye'"
                        (click)="verContrasena('cmbTipoC')"></i>
                        <input formControlName="matchContrasena" [type]="cmbTipoC" id="matchContrasena" name="matchContrasena" aria-describedby="emailHelp" class="form-control p-ci" placeholder="Confirma tu contraseña.." autocomplete="off">
                        <div *ngIf="resetPasswordForm.get('matchContrasena')?.hasError('mismatch') && resetPasswordForm.get('matchContrasena')?.touched" 
                            class="text-danger error-message-container property-danger-p">
                            Las contraseñas no coinciden.
                        </div>
                        <i [ngClass]="{'icon-error': resetPasswordForm.get('matchContrasena')?.invalid && resetPasswordForm.get('matchContrasena')?.touched}"
                            class="fa-solid fa-lock p-icon position-absolute"></i>
                    </div>
                    <small id="matchContrasena" class="form-text text-light font-title">Recuerda no compartir tu contraseña con alguien mas.</small>
                </div>
                <div class="d-grid">
                    <button
                        class="btn btn-lg text-light fw-semibold d-flex align-items-center justify-content-center font-title"
                        type="submit" [disabled]="
                        resetPasswordForm.invalid || 
                        resetPasswordForm.disabled">Cambiar</button>
                </div>
            </form>
        </div>
    </div>
</div>