<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
<div class="container">
  <div class="d-flex">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <span class="font">Modulo de Bodega</span>
      </li>
    </ul>
  </div>
  <div class="d-flex justify-content-start mb-3">
    <button class="button-86 fw-bold me-2" (click)="openModal()"><i class="bi bi-plus-circle me-2"></i>Registrar</button>
    <button class="button-86 fw-bold w-pdf me-2"><i class="fas fa-file-pdf me-2"></i>Descargar Reporte PDF</button>
    <button type="button" class="align-items-center button-86 d-flex fw-bold w-excel"><i class="fa-solid fa-file-excel me-2"></i>Exportar a Excel</button>
  </div>
  <app-modal [title]="isViewingDetails ? 'Detalles del bodega' : (isEditing ? 'Editar bodega' : 'Registrar bodega')" 
  [isVisible]="isModalVisible" (close)="handleClose()"
    (confirmAction)="handleConfirm()" [fields]="[
    { id: 'BOD_STOCK_MINIMO', label: 'Stock Mínimo', type: 'number' },
    { id: 'BOD_ESTADO', label: 'Estado', type: 'text' },
    { id: 'BOD_PROPROV_ID', label: 'Producto', type: 'select', options: productosoOptions },
    ]"
    [isEditing]="isEditing"
    [isViewingDetails]="isViewingDetails"
    [data]="editingBodega">>
    <p>Your custom content goes here!</p>
  </app-modal>
</div>
<div *ngIf="!loading">
  <app-table
    [data]="bodegas" [columns]="[
      { key: 'BOD_STOCK_MINIMO', label: 'Stock Mínimo'},
      { key: 'BOD_ESTADO', label: 'Estado'},
      { key: 'proprov.PROPROV_NOMBRE', label: 'Producto'},
    ]"
    noDataMessage="No hay pagos disponibles."
    [title]="title"
    (edit)="onEdit($event)"
    (delete)="onDelete($event)"
    (detail)="onDetail($event)">
  </app-table>
</div>
