<div class="container">
  <<div class="d-flex">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <span class="font">Modulo de Productos Por Proveedor</span>
      </li>
    </ul>
  </div>
</div>
<app-table [data]="proprovs" [columns]="[
      { key: 'PROPROV_ID', label: 'ID' },
      { key: 'PROPROV_NOMBRE', label: 'Nombre' },
      { key: 'PROPROV_CANTIDAD', label: 'Cantidad' },
      { key: 'PROPROV_FCH_INGRESO', label: 'Fecha de Ingreso' },
      { key: 'PROPROV_PRECIO_UNITARIO', label: 'Precio Unitario' },
      { key: 'PROPROV_DESCRIPCION', label: 'Descripción' },
      { key: 'proveedor.PROV_NOMBRE', label: 'Proveedor' }
    ]" noDataMessage="No hay pagos disponibles." title="Proveedor">
</app-table>