<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
<div class="container">
  <div class="d-flex">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <span class="font">Modulo de Productos de Proveedor</span>
      </li>
    </ul>
  </div>
  <!-- <div class="d-block p-2 bg-dark text-white fs-2 mb-1">Modulo de Usuarios</div> -->
  <div class="d-flex justify-content-start mb-3">
    <button class="button-86 fw-bold" (click)="openModal()">Registrar </button>
  </div>
  <app-modal [title]="isViewingDetails ? 'Detalles del producto de proveedor' : (isEditing ? 'Editar producto de proveedor' : 'Registrar producto de proveedor')" 
  [isVisible]="isModalVisible" 
  (close)="handleClose()"
  (confirmAction)="handleConfirm()"
    [fields]="[
      { id: 'PROPROV_NOMBRE', label: 'Nombre', type: 'text',  },
      { id: 'PROPROV_CANTIDAD', label: 'Cantidad', type: 'text',  },
      { id: 'PROPROV_FCH_INGRESO', label: 'Fecha ingreso', type: 'date',  },
      { id: 'PROPROV_PRECIO_UNITARIO', label: 'Precio unitario', type: 'text',  },
      { id: 'PROPROV_DESCRIPCION', label: 'Descripcion', type: 'text',  },
      { id: 'PROPROV_PROV_ID', label: 'Proveedor', type: 'select', options: proveedoresOptions  }
    ]"
    [isEditing]="isEditing"
    [isViewingDetails]="isViewingDetails"
    [data]="editingProprov">>
    
  </app-modal>
</div>
<div *ngIf="!loading">
  <app-table [data]="proprovs" [columns]="[
        { key: 'PROPROV_NOMBRE', label: 'Nombre' },
        { key: 'PROPROV_FCH_INGRESO', label: 'Fecha de Ingreso' },
        { key: 'PROPROV_PRECIO_UNITARIO', label: 'Precio Unitario', format: 'currencyFormat' },
        { key: 'proveedor.PROV_NOMBRE', label: 'Proveedor' }
      ]" noDataMessage="No hay pagos disponibles." 
      [title]="title"
      (edit)="onEdit($event)"
      (delete)="onDelete($event)"
      (detail)="onDetail($event)">
  </app-table>
</div>