.list-group {
    width: 33rem;
    border: none;
    /* box-shadow: 0px 1px 5px -2px rgba(0, 0, 0, 0.75); */
}

.list-group-item {
    border: none;
}

.list-group-item:hover {
    background-color: #f9f9f9;
    /* Fondo claro en hover o activo */
    border-left: 3px solid #FFD700;
    color: #333;
}

.order-info {
    display: flex;
    flex-direction: column;
}

.info-profile {
    text-align: justify;
    padding: 0rem 0.8rem;
    font-size: 0.8rem;
}

.profile-card {
    position: relative;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    /* Posiciona el contenido sobre el fondo */
    /* color: white; */
    z-index: 1;
}

.profile-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 35%;
    background-image: url('src/assets/images/fondopz.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(0px); /* Ajusta el valor de desenfoque según tu preferencia */
    z-index: -1;
    /* Controla la opacidad del fondo difuminado */
    opacity: 0.7;
}


.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.nav-pills .nav-link {
    border-radius: 7px;
}

.list-group-item {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.list-group-item .arrow-icon {
    font-size: 1.2rem;
    color: black;
}
