.list-group {
    width: 33rem;
    border: none;
    /* box-shadow: 0px 1px 5px -2px rgba(0, 0, 0, 0.75); */
}

.list-group-item {
    border: none;
}

.list-group-item:hover {
    background-color: #f9f9f9;
    /* Fondo claro en hover o activo */
    border-left: 3px solid #FFD700;
    color: #333;
}

.order-info {
    display: flex;
    flex-direction: column;
}

.info-profile {
    text-align: justify;
    padding: 0rem 0.8rem;
    font-size: 0.8rem;
}

.profile-card {
    position: relative;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    /* Posiciona el contenido sobre el fondo */
    /* color: white; */
    z-index: 1;
}

.profile-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 35%;
    background-image: url('src/assets/images/fondopz.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(0px); /* Ajusta el valor de desenfoque según tu preferencia */
    z-index: -1;
    /* Controla la opacidad del fondo difuminado */
    opacity: 0.7;
}


.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.nav-pills .nav-link {
    border-radius: 7px;
}

.list-group-item {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.list-group-item .arrow-icon {
    font-size: 1.2rem;
    color: black;
}

.mat-elevation-z8 {
    box-shadow: none;
}

.demo-table {
    width: 100%;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {
  font-weight: bold;
}

.badge {
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  color: #fff;
  font-size: 0.9rem;
}

.badge-pendiente {
  background-color: #0d6efd;
}

.badge-enviado {
  background-color: #4caf50;
}

.badge-perparacion {
  background-color: #f57c00;
}

.badge-cancelado {
  background-color: #dc3545;
}

.profile-card {
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.profile-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.profile-pic {
  border: 4px solid #fff;
}

.stats p {
  margin: 0;
  font-size: 0.9rem;
}

#btn-datos-personales,
#btn-historial-pedidos {
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#btn-datos-personales:hover {
  background-color: #ffc107;
  color: white;
}

#btn-historial-pedidos:hover {
  background-color: #ff9800;
  color: white;
}
