<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
<div class="container">
  <div class="d-flex">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <span class="font">Modulo de Usuarios</span>
      </li>
    </ul>
  </div>
  <!-- <div class="d-block p-2 bg-dark text-white fs-2 mb-1">Modulo de Usuarios</div> -->
  <div class="d-flex justify-content-start mb-3">
    <button class="button-86 fw-bold me-2" (click)="openModal()"><i class="bi bi-plus-circle me-2"></i>Registrar</button>
    <button class="button-86 fw-bold w-pdf me-2" (click)="generateUsuarioPdf()"><i class="fas fa-file-pdf me-2"></i>Descargar Reporte PDF</button>
    <button type="button" class="align-items-center button-86 d-flex fw-bold w-excel" (click)="generateUsuarioExcel()"><i class="fa-solid fa-file-excel me-2"></i>Exportar a Excel</button>
  </div>
  <div class="d-flex justify-content-start mb-3">
  </div>
  <app-modal 
  [title]="isViewingDetails ? 'Detalles del usuario' : (isEditing ? 'Editar usuario' : 'Registrar usuario')" 
  [isVisible]="isModalVisible" 
  (close)="handleClose()"
  (confirmAction)="handleConfirm()" 
  [fields]="modalFields"
  [isEditing]="isEditing"
  [isViewingDetails]="isViewingDetails"
  [data]="editingUser"
  [dataU]="usuarios"
 >
  </app-modal>
</div>
<div *ngIf="!loading">
  <app-table [data]="usuarios" [columns]="[
      { key: 'RGU_IDENTIFICACION', label: 'Identificación' },
      { key: 'RGU_NOMBRES', label: 'Nombres' },
      { key: 'RGU_APELLIDOS', label: 'Apellidos' },
      { key: 'RGU_ROL', label: 'Rol' },
      { key: 'RGU_GENERO', label: 'Genero' }
    ]" noDataMessage="No hay usuarios disponibles." 
    [title]="title"
    [dataService]="usuarioService"
    (edit)="onEdit($event)"
    (delete)="onDelete($event)"
    (detail)="onDetail($event)">
  </app-table>
</div>
