<div class="container">
  <div class="d-flex">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <span class="font">Modulo de Usuarios</span>
      </li>
    </ul>
  </div>
  <!-- <div class="d-block p-2 bg-dark text-white fs-2 mb-1">Modulo de Usuarios</div> -->
  <div class="d-flex justify-content-start mb-3">
    <button class="button-86 fw-bold" (click)="openModal()">Registrar </button>
</div>
</div>
<app-table [data]="usuarios" [columns]="[
    { key: 'RGU_IDENTIFICACION', label: 'Identificación' },
    { key: 'RGU_NOMBRES', label: 'Nombres' },
    { key: 'RGU_APELLIDOS', label: 'Apellidos' },
    { key: 'RGU_GENERO', label: 'Genero' },
  ]" noDataMessage="No hay usuarios disponibles." 
  [title]="title">
</app-table>
<app-modal [title]="'Registrar usuario'" [isVisible]="isModalVisible" (close)="handleClose()"
  (confirmAction)="handleConfirm()" 
  [fields]="[
  { id: 'RGU_IDENTIFICACION', label: 'Identificación', type: 'number' },
  { id: 'RGU_NOMBRES', label: 'Nombres', type: 'text' },
  { id: 'RGU_APELLIDOS', label: 'Apellidos', type: 'text' },
  { id: 'RGU_GENERO', label: 'Género', type: 'select', options: [
  { value: 'masculino', label: 'Masculino' },
  { value: 'femenino', label: 'Femenino' },
  { value: 'no-binario', label: 'No Binario' }
]},
  { id: 'RGU_DIRECCION', label: 'Dirección', type: 'text' },
  { id: 'RGU_CORREO', label: 'Correo', type: 'email' },
  { id: 'RGU_TELEFONO', label: 'Teléfono', type: 'number' },
  { id: 'RGU_ROL', label: 'Rol', type: 'select', options: [
  { value: 'admin', label: 'Administrador' },
  { value: 'trab', label: 'Trabajador' },
  { value: 'exclavo', label: 'Exclavo' }
]},
  { id: 'RGU_TP_DOC', label: 'Tipo de Documento', type: 'select', options: [
  { value: 'cc', label: 'Cedula nacional' },
  { value: 'ti', label: 'Tarjeta identidad' },
  { value: 'ce', label: 'Cedula extranjera' }
]},
  { id: 'RGU_PASSWORD', label: 'Contraseña', type: 'password' },
  ]">
  <p>Your custom content goes here!</p>
</app-modal>