<div class="modal" tabindex="-1" *ngIf="isVisible">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    {{ title }}
                </h5>
                <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div *ngFor="let field of fields" class="mb-3">
                        <label [for]="field.id" class="form-label">{{ field.label }}</label>

                        <!-- Renderiza un input normal para text, number, date, etc. -->
                        <input *ngIf="field.type !== 'select' && field.type !== 'image'" [type]="field.type"
                            class="form-control" [id]="field.id" [name]="field.id" [(ngModel)]="data[field.id]"
                            [disabled]="isViewingDetails" />

                        <!-- Renderiza un select para los campos de tipo 'select' -->
                        <select *ngIf="field.type === 'select'" class="form-select" [id]="field.id" [name]="field.id"
                            [(ngModel)]="data[field.id]" [disabled]="isViewingDetails">
                            <option *ngFor="let option of field.options" [value]="option.value">
                                {{ option.label }}
                            </option>
                        </select>

                        <!-- Renderiza un input tipo archivo para imágenes -->
                        <input *ngIf="field.type === 'image'" type="file" class="form-control" [id]="field.id"
                            [name]="field.id" (change)="handleFileInputChange($event, field.id)"
                            [accept]="field.accept || 'image/*'" [disabled]="isViewingDetails" />
                    </div>
                    <div *ngIf="title === 'Detalles del pedido'">
                        <h6>Información adicional</h6>
                        <div class="table-responsive">
                            <table class="table table-hover text-center">
                                <thead>
                                    <tr>
                                        <th>Nombre del producto</th>
                                        <th>Descripción</th>
                                        <th>Precio</th>
                                        <th>Cantidad</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of pedidos">
                                        <td>{{ item.nombre }}</td>
                                        <td>{{ item.descripcion }}</td>
                                        <td>{{ formatCurrency(item.precio) }}</td>
                                        <td>{{ item.cantidad }}</td>
                                        <td>{{ formatCurrency(item.subtotal) }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="d-flex align-items-end flex-column">
                            <div>
                                <p><b>Total: </b>{{ formatCurrency(getTotal()) }}</p>
                            </div>
                        </div>
                    </div>

            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="closeModal()">Cerrar</button>
            <button *ngIf="!isViewingDetails" type="button" class="btn btn-primary" (click)="confirm()">
                {{ isEditing ? 'Actualizar' : 'Guardar' }}
            </button>
        </div>
    </div>
</div>
</div>