<div class="modal" tabindex="-1" *ngIf="isVisible">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ isEditing ? 'Editar usuario' : 'Registrar usuario' }}</h5>
                <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div *ngFor="let field of fields" class="mb-3">
                        <label [for]="field.id" class="form-label">{{ field.label }}</label>

                        <!-- Renderiza un input normal para text, number, date, etc. -->
                        <input *ngIf="field.type !== 'select' && field.type !== 'image'"
                   [type]="field.type"
                   class="form-control"
                   [id]="field.id"
                   [formControlName]="field.id" />

            <select *ngIf="field.type === 'select'"
                    class="form-select"
                    [id]="field.id"
                    [formControlName]="field.id">
              <option *ngFor="let option of field.options" [value]="option.value">
                {{ option.label }}
              </option>
            </select>

            <input *ngIf="field.type === 'image'"
                   type="file"
                   class="form-control"
                   [id]="field.id"
                   (change)="handleFileInputChange($event, field.id)"
                   [accept]="field.accept || 'image/*'" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closeModal()">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="confirm()">
                  {{ isEditing ? 'Actualizar' : 'Guardar' }}
                </button>
            </div>
        </div>
    </div>
</div>
