<div class="container">
  <div class="card">
    <div class="card-body">
      <!-- <h5 class="card-title">{{title}}</h5> -->
      <table class="table table-hover">
        <!-- Encabezado de la tabla -->         
        <thead>
          <tr>
            <th *ngFor="let column of columns" scope="col">{{ column.label }}</th>
          </tr>
        </thead>

        <!-- Cuerpo de la tabla -->
        <tbody>
          <tr *ngFor="let item of data | paginate: { itemsPerPage: 5, currentPage: p }">
            <td *ngFor="let column of columns">
              <!-- Mostrar imagen si el tipo de columna es 'image' -->
              <ng-container *ngIf="column.type === 'image'; else defaultCell">
                <img [src]="getPropertyValue(item, column.key)" alt="Imagen" width="50" height="50">
              </ng-container>
              <ng-template #defaultCell>
                <ng-container *ngIf="isArray(getPropertyValue(item, column.key)); else singleValue">
                  <span *ngFor="let subItem of getPropertyValue(item, column.key)">
                    Cantidad: {{ subItem.cantidad }}
                  </span>
                </ng-container>
                <ng-template #singleValue>
                  {{ getPropertyValue(item, column.key) }}
                </ng-template>
              </ng-template>
              <!-- <img src="" alt="assets/images/P.png"> -->
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Mensaje de "No hay datos" -->
      <div *ngIf="data.length === 0" class="text-center mt-3">
        {{ noDataMessage }}
      </div>

      <!-- Controles de paginación -->
      <div class="d-flex justify-content-end me-4">
        <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente">
        </pagination-controls>
      </div>
    </div>
  </div>
  
</div>
