@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

tbody {
    text-transform: lowercase;
}

tbody, td, tfoot, th, thead, tr {
    border-style: hidden !important
}

.btn:focus{
    box-shadow: none;
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    border-color: transparent;
}

table {
    border-bottom: 0 !important;
}