    <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 px-lg-5 py-3 py-lg-0">
        <!-- <div *ngIf="isLoading" id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div> -->
        <a href="" class="navbar-brand p-0">
            <h1 class="text-primary m-0"><i class="fa fa-utensils me-3"></i>Restoran</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0 pe-4">
                <a routerLink="/" fragment="navbar" class="nav-item nav-link" [class.active]="isActive('navbar')">Home</a>
                <a routerLink="/" fragment="about" class="nav-item nav-link" [class.active]="isActive('about')">About</a>
                <a routerLink="/" fragment="service" class="nav-item nav-link" [class.active]="isActive('service')">Service</a>
                <a routerLink="/pages/menu" fragment="menu" class="nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Menu</a>                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" id="dropdownMenuButton">Pages</a>
                    <div class="dropdown-menu m-0" aria-labelledby="dropdownMenuButton">
                        <a routerLink="/" fragment="reservation" class="dropdown-item" [class.active]="isActive('reservation')">Booking</a>
                        <a routerLink="/" fragment="team" class="dropdown-item" [class.active]="isActive('team')">Our Team</a>
                        <a routerLink="/" fragment="testimonial" class="dropdown-item" [class.active]="isActive('testimonial')">Testimonial</a>
                    </div>
                </div>
                <a routerLink="/" fragment="footer" class="nav-item nav-link" [class.active]="isActive('footer')">Contact</a>
                <a class="nav-item nav-link" [routerLink]="['/carrito']">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <span class="cart-count" *ngIf="cartCount > 0">{{ cartCount }}</span>
                </a>
                
            </div>
           
            <!-- Mostrar el botón de inicio de sesión si no está logueado -->
            <a *ngIf="!authService.loggedIn()" [routerLink]="['/login']" class="btn btn-primary py-2 px-4">Inicia sesión</a>
    
            <!-- Mostrar imagen de perfil y dropdown si el usuario está logueado -->
            <div *ngIf="authService.loggedIn()" class="d-flex align-items-center text-end">
                <span class ="offset-2 text-light" style="margin-right: 0.8rem;">
                    <span class="m-text "> {{ getNombreUsuario() }} </span> <span class="m-text">{{ getApellidoUsuario() }}</span> ‎ <span class="m-text" style="font-weight: bold;">{{ role }}</span>
                  </span>
                <div class="dropdown ">
                    <img [src]="imangenPerfil" alt="Logo" class="logo-image" style="width: 40px; height:40px; border-radius: 50%; cursor: pointer; margin-right: -3rem;" data-bs-toggle="dropdown" aria-expanded="false" (error)="imagenPorDefecto($event)" />
                    <span class="px-md-5 status-indicator"></span>
                    <ul class="dropdown-menu" style="right: 3rem;">
                        <li *ngIf="rol_ad"><a class="dropdown-item active" [routerLink]="['/pedido']">Administracion</a></li>
                        <li><a class="dropdown-item" href="/profile">Mi perfil  <i class="fa-regular fa-address-card ms-1"></i></a></li>
                        <li><a class="dropdown-item" href="#">Notificaciones  <i class="fa-solid fa-bell ms-1"></i></a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item d-flex justify-content-end" (click)="logOut()" style="cursor: pointer;">Salir  <i class="bi bi-door-open-fill m-icon"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>