<div class="container">
  <div class="d-flex">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <span class="font">Modulo de Factura</span>
      </li>
    </ul>
  </div>
  <div class="d-flex justify-content-start mb-3">
    <button class="button-86 fw-bold me-2" (click)="openModal()" ><i class="bi bi-plus-circle me-2"></i>Registrar</button>
    <button class="button-86 fw-bold w-pdf me-2"><i class="fas fa-file-pdf me-2"></i>Descargar Reporte PDF</button>
    <button type="button" class="align-items-center button-86 d-flex fw-bold w-excel" ><i class="fa-solid fa-file-excel me-2"></i>Exportar a Excel</button>
  </div>
  <app-modal 
  [title]="isViewingDetails ? 'Detalles de la factura' : (isEditing ? 'Editar factura' : 'Registrar factura')"
  [isVisible]="isModalVisible" 
  (close)="handleClose()"
  (confirmAction)="handleConfirm()" 
  [fields]="modalFields"
  [isEditing]="isEditing"
  [isViewingDetails]="isViewingDetails"
  [data]="editingUser">
  <p>Your custom content goes here!</p>
</app-modal>
</div>
<div *ngIf="!loading">
  <app-table [data]="facturas" [columns]="[
      { key: 'nombreUsuario', label: 'Nombre Cliente',  },
      { key: 'FACTURA_FECHA', label: 'Fecha' },
      { key: 'FACTURA_TOTAL', label: 'Monto', format: 'currencyFormat' },
    ]" noDataMessage="No hay pagos disponibles."
    [title]="title"
    [dataService]="facturaService"
    (edit)="onEdit($event)"
    (delete)="onDelete($event)"
    (detail)="onDetail($event)">
    >
</app-table>
</div>

