<div class="d-flex flex-column bg-layout">
    <!-- Header ocupando todo el ancho -->
    <div class="header w-100">
        <app-header></app-header>
    </div>

    <!-- Contenedor principal -->
    <div class="d-flex flex-grow-1">
        <!-- Sidebar a la izquierda -->
        <div class="sidebar">
            <app-sidebar></app-sidebar>
        </div>

        <!-- Contenido principal (router-outlet) -->
        <div class="content flex-grow-1">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
