<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
<div class="container">
  <div class="d-flex">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <span class="font">Modulo de Proveedor</span>
      </li>
    </ul>
  </div>
    <div class="d-flex justify-content-start mb-3">
      <button class="button-86 fw-bold me-2" (click)="openModal()"><i class="bi bi-plus-circle me-2"></i>Registrar</button>
      <button class="button-86 fw-bold w-pdf me-2" (click)="generateProveedorPdf()"><i class="fas fa-file-pdf me-2"></i>Descargar Reporte PDF</button>
      <button class="align-items-center button-86 d-flex fw-bold w-excel" (click)="generateProveedorExcel()"><i class="fa-solid fa-file-excel me-2"></i>Exportar a Excel</button>
    </div>
    <app-modal [title]="isViewingDetails ? 'Detalles del proveedor' : (isEditing ? 'Editar proveedor' : 'Registrar proveedor')" 
     [isVisible]="isModalVisible" (close)="handleClose()"(confirmAction)="handleConfirm()"
      [fields]="[
        { id: 'PROV_NOMBRE', label: 'Nombre', type: 'text',  },
        { id: 'PROV_CORREO', label: 'Correo', type: 'email',  },
        { id: 'PROV_TELEFONO', label: 'Telefono', type: 'number',  },
        { id: 'PROV_DIRECCION', label: 'Dirección', type: 'text',  },
        { id: 'PROV_NIT', label: 'NIT', type: 'text',  }
      ]"
       [isEditing]="isEditing"
       [isViewingDetails]="isViewingDetails"
       [data]="editingProv">
      
    </app-modal>
  </div>
  <div *ngIf="!loading">
    <app-table
     [data]="proveedor" [columns]="[
       { key: 'PROV_NOMBRE', label: 'Nombre' },
       { key: 'PROV_CORREO', label: 'Correo' },
       { key: 'PROV_TELEFONO', label: 'Teléfono' },
     ]"
    noDataMessage="No hay pagos disponibles."
    [title]="title"
    (edit)="onEdit($event)"
    (delete)="onDelete($event)"
    (detail)="onDetail($event)">
    </app-table>
  </div>

