<div class="container-fluid">
    <div class='box'>
        <div class='wave -one'></div>
        <div class='wave -two'></div>
        <div class='wave -three'></div>
    </div>
    <div class="container min-vh-100 d-flex align-items-center justify-content-center">
        <div class="login-box p-4 shadow">
            <h2 class="mb-4 text-center text-light font-title"><a class="text-decoration-none text-light me-1"
                    [routerLink]="['/login']"><i class="fa-solid fa-chevron-left"></i> </a>Restablecer Tu Contraseña
            </h2>
            <p class="text-center mb-3 fw-t text-light font-title">Ingresa tu correo electrónico para recibir un enlace
                de restablecimiento de contraseña seguro.</p>

            <div class="d-flex align-items-center justify-content-center my-3">
                <hr class="flex-grow-1 me-2 text-light" />
                <span class="text-light font-title">●</span>
                <hr class="flex-grow-1 ms-2 text-light" />
            </div>

            <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
                <div class="form-group mb-3 font-title">
                    <label for="email" class="text-light">Correo</label>
                    <div class="d-flex align-items-start flex-column input-container position-relative">
                        <input formControlName="email" type="text" id="email" name="email" aria-describedby="emailHelp"
                            class="form-control p-ci" placeholder="Ingresa tu correo.." >
                        <div *ngIf="resetForm.get('email')?.invalid && resetForm.get('email')?.touched"
                            class="text-danger property-danger-c error-message-container">
                            <div *ngIf="resetForm.get('email')?.errors?.['invalidEmail']">
                                Correo inválido, debe contener un dominio valido &#64; y .com
                            </div>
                        </div>
                        <i [ngClass]="{'icon-error': resetForm.get('email')?.invalid && resetForm.get('email')?.touched}"
                            class="fa-solid fa-at p-icon position-absolute"></i>
                    </div>
                    <small id="email" class="form-text text-light font-title">Nunca compartiremos tu correo electronico
                        con alguien mas.</small>
                </div>
                <div class="d-grid">
                    <button
                        class="btn btn-lg text-light fw-semibold d-flex align-items-center justify-content-center font-title"
                        type="submit" [disabled]="
                  resetForm.invalid || 
                  resetForm.disabled">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>