<div class="container">
  <div class="d-flex justify-content-start b-t">
    <h1 class="text-center fs-1 pt-2">Modulo de Pago</h1>
  </div>
  <div class="d-flex justify-content-start mb-3">
    <button class="button-86 fw-bold" (click)="openModal()">Registrar </button>
  </div>
</div>
<app-table [data]="pagos" [columns]="[
      { key: 'PAGO_ID', label: 'ID' },
      { key: 'PAGO_FECHA', label: 'Fecha' },
      { key: 'PAGO_MONTO', label: 'Monto' },
      { key: 'rguUsuario.RGU_NOMBRES', label: 'Nombre Cliente' },
      { key: 'PAGO_DESCRIPCION', label: 'Descripción' },
      { key: 'PAGO_ESTADO', label: 'Estado' }
    ]" noDataMessage="No hay pagos disponibles." >
</app-table>
<app-modal [title]="'Registrar pago'" [isVisible]="isModalVisible" (close)="handleClose()"
  (confirmAction)="handleConfirm()" 
  [fields]="[
  { id: 'fecha', label: 'Fecha del pago', type: 'text' },
  { id: 'monto', label: 'Monto', type: 'text' },
  { id: 'nombre', label: 'Nombre', type: 'text' },
  { id: 'genero', label: 'Género', type: 'text' },
  { id: 'descripcion', label: 'Descripción', type: 'text' },
  { id: 'estado', label: 'Estado', type: 'email' },
  ]">
  <p>Your custom content goes here!</p>
</app-modal>