<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
<div class="container">
  <div class="d-flex">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <span class="font">Modulo de Pago</span>
      </li>
    </ul>
  </div>
  <div class="d-flex justify-content-start mb-3">
    <button class="button-86 fw-bold" (click)="openModal()">Registrar </button>
  </div>
  <app-modal 
[title]="isViewingDetails ? 'Detalles del pago' : (isEditing ? 'Editar pago' : 'Registrar pago')"
[isVisible]="isModalVisible" 
(close)="handleClose()"
(confirmAction)="handleConfirm()" 
[fields]="[
  { id: 'PAGO_FECHA', label: 'Fecha del pago', type: 'date' },
  { id: 'PAGO_MONTO', label: 'Monto', type: 'number' },
  { id: 'PAGO_RGU_ID', label: 'Trabajador', type: 'select', options: usuarioOptions },
  { id: 'PAGO_DESCRIPCION', label: 'Descripción', type: 'text' }
  ]"
  [isEditing]="isEditing"
  [isViewingDetails]="isViewingDetails"
  [data]="editingUser">
  <p>Your custom content goes here!</p>
</app-modal>
</div>
<div *ngIf="!loading">
  <app-table [data]="pagos" [columns]="[
      { key: 'rguUsuario.RGU_NOMBRES', label: 'Nombre Cliente',  },
      { key: 'PAGO_FECHA', label: 'Fecha' },
      { key: 'PAGO_MONTO', label: 'Monto', format: 'currencyFormat' },
    ]" noDataMessage="No hay pagos disponibles."
    [title]="title"
    (edit)="onEdit($event)"
    (delete)="onDelete($event)"
    (detail)="onDetail($event)">
</app-table>
</div>